<div class="card-style-detail">
     <div class="container-fluid">
          <div class="row justify-content-center">
               <div class="col-sm-8 col-md-8 col-lg-8 align-self-center">

                    <form id="addArt">

                         <div class="form-group form-btn-center">
                              <label for="file-upload" class="custom-file-upload btn btn-primary">Select File to
                                   Upload</label>
                              <input id="file-upload" type="file" onchange="showname()" name="myimage" />
                              <p>
                              <div id="file-selected">Files must be .jpg or .png</div>
                              </p>
                         </div>

                         <div class="form-group">
                              <label class="control-label" for="update-title">Title: </label>
                              <input class="form-control" type="text" id="update-title" name="art_name"
                                   placeholder="i.e. My Masterpiece (required)" required>
                         </div>
                         <div class="form-group">
                              <label class="control-label" for="update-title">Artist: </label>
                              <input class="form-control" type="text" id="update-title" name="artist_name">
                         </div>
                         <div class="form-group">
                              <label class="control-label" for="update-technique">Technique: </label>
                              <input class="form-control" type="text" id="update-technique" name="technique"
                                   placeholder="i.e. Pen and Ink (required)">
                         </div>
                         <div class="form-group">
                              <label class="control-label" for="update-title">Dimensions: </label>
                              <input class="form-control" type="text" id="update-dimensions" name="dimension"
                                   placeholder="i.e. 8x10 (required)">
                         </div>
                         <div class="form-group">
                              <label class="control-label" for="update-title">Price: </label>
                              <input class="form-control" type="number" id="update-price" name="price"
                                   placeholder="i.e. 50.00 (required)">
                         </div>
                         <div class="form-group">
                              <label class="control-label" for="update-title">Other Details: </label>
                              <input class="form-control" type="text" id="other_details" name="other_details">
                         </div>

                         <div class="form-btn-center">
                              <br><br><button type="submit" class="btn btn-primary">Upload!</button>
                         </div>
                    </form>
               </div>
          </div>
     </div>
</div>

<script src="/js/addartformhelper.js"></script>
<script src="/js/addart.js"></script>