<div class="nav">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">My Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/collection">Collection</a>
        </li>
        <li class="nav-item">
            {{#if loggedIn}}
            <a class="nav-link" href="/logout">Logout</a>
            {{else}}
            <a class="nav-link" href="/login">Login</a>
            {{/if}}
        </li>
    </ul>
</div>

<br><br>

<div class="container carousel-container d-flex align-items-center">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100"
                    src="https://cdn.shopify.com/s/files/1/1414/9028/products/af7e4aabb91317944f84ed5c1fbc07d8_107c0d00-c38e-43ca-98c9-b34ef38156c6_1024x1024.jpg?v=1571449305"
                    alt="First slide" />
            </div>
            <div class="carousel-item">
                <img class="d-block w-100"
                    src="https://cdn.shopify.com/s/files/1/1414/9028/products/23a48cabf95be09d1f33e191d0b2212b_1024x1024.jpg?v=1571449305"
                    alt="Second slide" />
            </div>
            <div class="carousel-item">
                <img class="d-block w-100"
                    src="https://cdn.shopify.com/s/files/1/1414/9028/products/ab0108384c4ca304de669aed831d5bf1_1024x1024.jpg?v=1571449304"
                    alt="Third slide" />
            </div>
            <div class="carousel-item">
                <img class="d-block w-100"
                    src="https://cdn.shopify.com/s/files/1/1414/9028/products/1_8f32a56c-1374-4344-9e2e-09d64cf33517_1024x1024.jpg?v=1571449303"
                    alt="Fourth slide" />
            </div>
        </div>
    </div>
</div>