:root {
  --prim: #e1e5ea;
  --sec: #deedf0;
  --dark: #343a40;
  --font: #4d3a33;
  --finger: pointer;
}

* {
  font-family: "Laila", sans-serif;
}

html {
  position: relative;
  min-height: 100vh;
}

.container {
  padding: 0 15px;
}

.navbar {
  width: 100%;
  background-color: var(--dark);
  font-family: "Laila", sans-serif !important;
  font-size: 24px !important;
}

.navbar:hover {
  color: var(--sec);
}

.jumbotron {
  background-color: var(--sec);
  margin-bottom: 0;
}

.jumbotron h1 {
  font-family: "Bad Script", cursive;
  color: var(--font);
}

.pic-carousel-container {
  min-width: 50vw;
  min-height: 50vh;
}

.pic-carousel {
  border-radius: 10px;
}

.carousel-control.next,
.carousel-control.prev {
  left: 0;
  z-index: 1;
}

.carousel-caption {
  position: absolute;
  top: 100px;
}

.blockquote {
  font-size: 24px !important;
}

.login-signup-container {
  min-width: 100vw;
  min-height: 60vh;
}

.footer {
  color: var(--sec);
}

/* Begin card styling */
article {
  padding: 20px;
  border: 1px solid #999;
  border-radius: 5px;
  background: #fff;
  break-inside: avoid-column;
  margin-bottom: 1rem;
}

.card-style {
  columns: 250px;
  column-gap: 20px;
  background: #deedf0;
  line-height: 1.2;
  margin: 1em;
  padding: 2em;
  border-radius: 5px;
}

.card-style-detail {
  columns: 800px;
  background: #deedf0;
  line-height: 1.2;
  margin: 1em;
  padding: 2em;
  border-radius: 5px;
}

.card-style-center {
  text-align: center;
  line-height: 1.2;
  margin: 1em;
  padding: 1em;
}

.card-style-addform {
  columns: 400px;
  background: #deedf0;
  line-height: 1.2;
  margin: 4em;
  padding: 2em;
  border-radius: 5px;
}

/* Begin form input=file styling */
input[type="file"] {
  display: none;
}
.form-btn-center {
  text-align: center;
}

.custom-success-top {
  height: 50vh;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-icon {
  font-size: 10rem;
  color: rgb(31, 29, 29);
}

.success-page-button {
  border-radius: 2rem;
  border: 1px solid black;
}

.custom-success-body {
  background-color: cornflowerblue;
}

/* .footer {
  width: 100%;
  background-color: var(--dark);
  font-family: "Laila", sans-serif !important;
  font-size: 24px !important;
} */
