/* Bootstrap Sticky footer */
:root {
  --prim: #f9f9f9;
  --sec: #deedf0;
  --font: #4d3a33;
  --tert: #393e46;
  --finger: pointer;
}

* {
  font-family: "Laila", sans-serif;
  color: var(--font);
  text-decoration: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: var(--prim);
}

.container {
  max-width: 800px;
  padding: 0 15px;
}

a {
  text-decoration: none;
  color: var(--font);
}
.nav a:hover,
a.active {
  color: var(--prim);
}

.nav {
  width: 100%;
  background-color: var(--prim);
  font-size: 24px;
}

.jumbotron {
  background-color: var(--sec);
  margin-bottom: 0;
}

.jumbotron h1 {
  font-family: "Bad Script", cursive;
}

.login-signup-container {
  height: 70%;
}

.carousel-container {
  height: 70%;
  width: 100%;
}

.carousel-inner {
  border-radius: 10px;
}
